# DECISION TREE

In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier

In [2]:
%cd C:/Users/Tole 01/Desktop/Micromaster_Data_Science/Week-7-MachineLearning/weather

C:\Users\Tole 01\Desktop\Micromaster_Data_Science\Week-7-MachineLearning\weather

In [3]:
data = pd.read_csv('daily_weather.csv')

## Data Cleaning

In [4]:
data.columns

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [5]:
data.shape

(1095, 11)

In [6]:
data[data.isnull().any(axis=1)]

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
16,16,917.890000,NaN,169.200000,2.192201,196.800000,2.930391,0.000,0.000000,48.990000,51.190000
111,111,915.290000,58.820000,182.600000,15.613841,189.000000,NaN,0.000,0.000000,21.500000,29.690000
177,177,915.900000,NaN,183.300000,4.719943,189.900000,5.346287,0.000,0.000000,29.260000,46.500000
262,262,923.596607,58.380598,47.737753,10.636273,67.145843,13.671423,0.000,NaN,17.990876,16.461685
277,277,920.480000,62.600000,194.400000,2.751436,NaN,3.869906,0.000,0.000000,52.580000,54.030000
334,334,916.230000,75.740000,149.100000,2.751436,187.500000,4.183078,NaN,1480.000000,31.880000,32.900000
358,358,917.440000,58.514000,55.100000,10.021491,NaN,12.705819,0.000,0.000000,13.880000,25.930000
361,361,920.444946,65.801845,49.823346,21.520177,61.886944,25.549112,NaN,40.364018,12.278715,7.618649
381,381,918.480000,66.542000,90.900000,3.467257,89.400000,4.406772,NaN,0.000000,20.640000,14.350000
409,409,NaN,67.853833,65.880616,4.328594,78.570923,5.216734,0.000,0.000000,18.487385,20.356594
517,517,920.570000,53.600000,100.100000,4.697574,NaN,6.285801,4.712,14842.000000,79.880000,84.530000
519,519,916.250000,55.670000,176.400000,6.666081,188.200000,NaN,0.000,0.000000,72.550000,74.390000
546,546,NaN,42.746000,251.100000,12.929513,274.400000,17.604718,14.627,7825.000000,87.870000,70.770000
620,620,921.200000,56.786000,192.300000,9.551734,201.400000,11.005745,NaN,0.000000,59.790000,77.750000
625,625,912.400000,50.774000,171.600000,NaN,181.400000,4.831790,0.000,0.000000,86.840000,64.740000
656,656,920.830000,66.344000,NaN,15.457255,189.400000,16.486248,0.000,0.000000,23.770000,51.630000
670,670,910.920000,48.362000,156.500000,NaN,177.500000,16.128337,4.970,10560.000000,80.560000,88.220000
672,672,922.448945,72.863773,NaN,3.682370,214.196160,4.849450,0.000,0.000000,16.753670,17.804720
705,705,911.900000,59.072000,199.800000,1.275056,239.500000,1.834291,NaN,0.000000,77.630000,59.130000
731,731,922.970166,51.391847,33.810942,NaN,59.290089,11.111555,0.000,4.735034,34.807753,18.418179
737,737,917.895130,76.804690,104.771020,1.632705,97.178763,NaN,0.000,0.000000,13.771311,16.792455
788,788,917.923442,73.249717,42.101739,4.132698,64.284969,5.345258,0.000,NaN,6.939692,18.793825
840,840,918.043767,NaN,181.774042,0.964376,185.618601,1.570007,0.000,0.000000,11.911222,18.154358
848,848,915.250000,37.562000,246.500000,11.587349,258.700000,NaN,3.171,2891.000000,91.000000,90.780000
861,861,919.065408,NaN,172.303728,2.639600,193.058141,3.326949,0.000,0.000000,12.497839,13.438518
869,869,NaN,45.104000,259.000000,3.265932,275.000000,4.026492,0.000,80.000000,85.270000,90.260000
998,998,914.140000,71.240000,NaN,1.722444,232.900000,2.326418,0.000,0.000000,24.200000,41.380000
1031,1031,922.669195,NaN,47.946284,7.969686,65.770066,10.262337,0.000,0.000000,18.920805,19.641841
1035,1035,919.670000,77.576000,171.800000,6.554234,191.000000,8.164831,0.000,NaN,56.860000,50.650000
1063,1063,917.300185,65.790001,NaN,1.879553,222.498226,2.692862,0.000,0.000000,14.972668,20.966267
1066,1066,919.564869,73.726732,68.704694,3.551777,102.571616,4.861315,NaN,0.000000,11.657314,17.331823

In [7]:
del data['number']

In [8]:
before_rows = data.shape[0]
print(f'{before_rows} es el numero de filas de datos')

1095 es el numero de filas de datos

In [9]:
data.dropna(inplace=True)

In [10]:
after_rows = data.shape[0]
print(f'{before_rows} es el numero de filas de datos sin NaN')

1095 es el numero de filas de datos sin NaN

In [11]:
print(f'Este es el numero de filas que se borraron:{before_rows - after_rows}')

Este es el numero de filas que se borraron:31

## Convert to a Classification Task

In [12]:
clean_data = data.copy()

# Al devolvernos un valor true o false, se multiplica por 1 para solo tener 0 o 1
clean_data['high_humidity_label'] = (clean_data.relative_humidity_3pm > 24.99)*1
clean_data.high_humidity_label

0       1
1       0
2       0
3       0
4       1
       ..
1090    1
1091    1
1092    1
1093    1
1094    0
Name: high_humidity_label, Length: 1064, dtype: int32

## Target is stored in y

In [13]:
y = clean_data.high_humidity_label.copy()
y

0       1
1       0
2       0
3       0
4       1
       ..
1090    1
1091    1
1092    1
1093    1
1094    0
Name: high_humidity_label, Length: 1064, dtype: int32

In [14]:
clean_data.high_humidity_label.head()

0    1
1    0
2    0
3    0
4    1
Name: high_humidity_label, dtype: int32

In [15]:
y.head()

0    1
1    0
2    0
3    0
4    1
Name: high_humidity_label, dtype: int32

## Use 9am Sensor Signals as Features to Predict Humidity at 3pm

In [16]:
clean_data.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm', 'high_humidity_label'],
      dtype='object')

In [17]:
morning_features = ['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am']

X = clean_data[morning_features].copy()

In [18]:
X.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am'],
      dtype='object')

In [35]:
y

0       1
1       0
2       0
3       0
4       1
       ..
1090    1
1091    1
1092    1
1093    1
1094    0
Name: high_humidity_label, Length: 1064, dtype: int32

## Perform Test and Train Split

train_test_split divide a la data que se va usar en la de entrenamiento y en la de prueba

- train_test_split(**X** es el dataset completo, **y** es el filtro que utiliza para saber si el dato es true o false)
- **test_size** es el % del size del dataset usado para entrenar, 
- **random_state** nos agarra la data y la ordena al azar antes de dividirla

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.33, random_state= 324)

In [21]:
print(f'{X_train}\n ----------------------------------------')
print(f'{X_test}\n ----------------------------------------')
print(f'{y_train}\n ----------------------------------------')
print(f'{y_test}\n ----------------------------------------')
#print(X_train.head())
#print(y_train.describe())

     air_pressure_9am  air_temp_9am  avg_wind_direction_9am  \
841        918.370000     72.932000              184.500000
75         920.100000     53.492000              186.100000
95         927.610000     54.896000               55.000000
895        919.235153     65.951112              194.343333
699        919.888128     68.687822              228.517730
..                ...           ...                     ...
276        917.010851     85.719360              116.258670
613        919.300000     39.956000              192.100000
934        915.010000     60.602000              179.800000
777        916.500000     85.586000              121.100000
683        923.400000     42.692000              192.900000

     avg_wind_speed_9am  max_wind_direction_9am  max_wind_speed_9am  \
841            2.013246              186.700000            2.773806
75            13.444009              193.800000           15.367778
95             4.988376               53.400000            7.202947
895            2.942019              216.569792            3.658810
699            3.960858              247.954028            5.185547
..                  ...                     ...                 ...
276            2.327022               49.729757            3.097945
613            1.409272              108.700000            2.192201
934            6.352910              194.500000            7.672704
777            1.297425               80.600000            1.744813
683            2.572481               87.300000            3.467257

     rain_accumulation_9am  rain_duration_9am
841                   0.00                0.0
75                    0.00                0.0
95                    0.00                0.0
895                   0.00                0.0
699                   0.00                0.0
..                     ...                ...
276                   0.00                0.0
613                   0.26             2770.0
934                   0.00                0.0
777                   0.00                0.0
683                   0.00                0.0

[712 rows x 8 columns]
 ----------------------------------------
     air_pressure_9am  air_temp_9am  avg_wind_direction_9am  \
456        918.800000     80.384000              189.600000
845        921.613373     68.658973               70.703555
693        917.900000     76.802000              154.100000
259        914.830000     74.570000              175.500000
723        917.010000     51.836000              130.200000
..                ...           ...                     ...
46         917.900000     65.660000              183.700000
116        919.561333     69.165521              137.144876
799        917.650000     82.436000              108.000000
350        917.120000     45.896000              179.200000
279        915.710000     86.342000              234.300000

     avg_wind_speed_9am  max_wind_direction_9am  max_wind_speed_9am  \
456            1.767183               80.300000            2.773806
845            2.248932               96.844701            3.043049
693            2.550112              199.400000            3.400149
259            1.409272              153.800000            2.236940
723            1.610597              159.900000            2.348787
..                  ...                     ...                 ...
46             6.062107              188.500000            6.509495
116            1.382894              123.019031            2.031607
799            2.214571               62.800000            2.840914
350            3.400149              195.000000            3.981753
279            1.744813              125.500000            2.505373

     rain_accumulation_9am  rain_duration_9am
456                  0.000                0.0
845                  0.000                0.0
693                  0.000                0.0
259                  0.000                0.0
723                  0.000                0.0
..                     ...                ...
46                   0.021              319.0
116                  0.000                0.0
799                  0.000                0.0
350                  0.000                0.0
279                  0.000                0.0

[352 rows x 8 columns]
 ----------------------------------------
841    0
75     1
95     0
895    0
699    0
      ..
276    0
613    1
934    1
777    0
683    1
Name: high_humidity_label, Length: 712, dtype: int32
 ----------------------------------------
456    0
845    0
693    1
259    1
723    1
      ..
46     1
116    0
799    0
350    1
279    0
Name: high_humidity_label, Length: 352, dtype: int32
 ----------------------------------------

## Fit on Train Set

Generas el arbol de decisiones con DecisionTreeClassifier()

- **max_leaf_nodes** te dice el numero maximo de hojas o nodos finales del arbol
- **random_state** es un controlador de repeticion. Es para que vuelvas a obtener el mismo decision tree. Si poner 46 y 23 en 2 arboes diferentes, estos tendran diferentes nodos. Pero si pones 46 y 46 en ambos, ambos arboles tendran los mismos nodos.

Despues usamos fit para agarra los valores X y y del arbol
- **.fit(X** son todos los valores del cuadro,**y** son los valores booleanos para entrenarlo **)**

In [22]:
humidity_classifier = DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)
humidity_classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [23]:
type(humidity_classifier)

sklearn.tree._classes.DecisionTreeClassifier

## Predict on Test Set

In [25]:
predictions = humidity_classifier.predict(X_test)

In [28]:
predictions[:10]

array([0, 0, 1, 1, 1, 1, 0, 0, 0, 1])

In [31]:
y_test.head(10)

456     0
845     0
693     1
259     1
723     1
224     1
300     1
442     0
585     1
1057    1
Name: high_humidity_label, dtype: int32

## Measure Accuracy of the Classifier

accuraccy_Store compara el modelo de prediccion entre el output del modelo y el real

In [32]:
accuracy_score(y_true= y_test, y_pred= predictions)

0.8153409090909091

## A More Efficient Tree

In [87]:
humidity_classifier1 = DecisionTreeClassifier(max_leaf_nodes=12, random_state=10)
humidity_classifier1.fit(X_train, y_train)
predictions1 = humidity_classifier1.predict(X_test)
accuracy_score(y_true= y_test, y_pred= predictions1)

0.8210227272727273